


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.first-section { 
  align-items: center;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.first-section img {
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 40%;  
}

.first-section h1 {
  position: absolute;
  color: white;
  z-index: 10;
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
}

.first-section p {
  position: absolute;
  color: white;
  z-index: 10;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  padding-top: 100px;
}

body{
  margin: 0;
    color: #161717;
    height:auto;
    min-height:100vh;
    background-image: url("../afbeeldingen/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed; 
}
/* Container styling */
.container {
    font-family: "Roboto Mono", monospace;
    max-width: 100vw;
    height: 100vh;
    margin-right: auto;
    
    padding: 30px;
}

#knop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}


.title {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}

.login-button-link {
  background-color: #575ead; 
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 15px; 
  padding: 40px 40px;
  cursor: pointer;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  z-index: 10;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
  display: inline-block;
  

}
.login-button-link:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.scherm img {
  width: 90%;
  height: auto;
}

.container img {
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 90%;  
}

button {
  --green:  #ffffff;
  background-color: rgb(12, 2, 68);
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(53, 53, 53, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
  color: #ffffff;
  box-shadow: inset 0 0 10px rgba(40, 40, 40, 0.6), 0 0 9px 3px rgba(53, 53, 53, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(86, 88, 87, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}

.column img {
  width: 90%;
  height: auto;
  margin-top: 20px;
}

#week2title h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.5em;
}

#week2title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week2title img {
    margin-bottom: 20px;
}

#week3title img {
    width: 200%;
    height: auto;
    margin-top: 1px;
    margin-bottom: 20px;
}

#week3title h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.5em;
}

#week3title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week3title2 h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.5em;
}

#week3title2 {
    margin-top: 540px;
    margin-bottom: 20px;

}

#week4title h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.5em;
}

#week4title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week4title img {
    margin-bottom: 20px;
    width: 90%;
    height: auto;
}

#week5title h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.5em;
}

#week5title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week5title img {
    margin-bottom: 20px;
    width: 90%;
    height: auto;
}

#week6title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week7title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week8title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week8title img {
    margin-bottom: 20px;
    width: 99%;
    height: auto;
}

#week9title p {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
}

#week9title h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.5em;
}

.tekst {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}